@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;

  /*! Fonts */
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-cubano: "Cubano", sans-serif;
}

.content {
  user-select: none;
  max-height: 100% !important;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--color-main2)
  );
  justify-content: center;
}

.text {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  align-content: center;
  justify-items: center;
}

.text h1 {
  color: var(--background-color-shade8);
  font-family: var(--font-cubano);
  font-size: 5rem;
  line-height: 100px;
  margin: 0;
}

.text span {
  display: block;
  color: var(--secondary-color-shade7);
  font-family: var(--font-ubuntu-mono);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 50px;
  margin: 0;
}

.text span span {
  display: inline-block;
}

.bottom {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  font-family: var(--font-cubano);
  font-size: 1.4rem;
  color: var(--primary-color-main);
}

.bottom a {
  transition: all 0.5s;
}

.bottom a:hover {
  color: var(--primary-color-shade3);
  cursor: pointer;
}

.content .text h1 {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.5s ease-in-out;
}

.content .text span:first-of-type {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.content .text span:last-of-type {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.content .bottom {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1.5s ease-in-out;
}

.animate .text h1 {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.5s ease-in-out;
}

.animate .text span:first-of-type {
  opacity: 1;
  transition: all 1.5s ease-in-out;
  transition-delay: 1.5s;
}

.animate .text span:last-of-type {
  opacity: 1;
  transition: all 1.5s ease-in-out;
  transition-delay: 2.5s;
}

.animate .bottom {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.5s ease-in-out;
  transition-delay: 3s;
}
