<img
  class="img3"
  [src]="!hide ? '' : 'Mockups/' + currentImg + '.svg'"
  alt=""
  [ngStyle]="{ opacity: hide ? '1' : '0' }"
  loading="lazy"
/>

<div
  class="black"
  [ngStyle]="{ opacity: hide ? '0.8' : '0' }"
  [style.pointer-events]="hide ? 'auto' : 'none'"
  (click)="showOrHide(false, '')"
></div>
<div class="content" style="overflow-y: hidden !important">
  <div class="top">
    <h1>{{ title }}</h1>
    <h2>{{ type }}</h2>
  </div>
  <div class="ex">
    <div class="imgs">
      <img
        *ngFor="let i of img"
        src="Mockups/{{ i }}.svg"
        alt=""
        loading="lazy"
        (click)="showOrHide(true, i)"
      />
    </div>
    <div class="text">
      <p>{{ desc }}</p>
    </div>
    <div class="stack">
      <h3>Tech used</h3>
      <div class="imgs2">
        <app-card
          *ngFor="let item of techStack"
          [title]="item.title"
          [img]="item.img"
          [per]="item.per"
          [animate]="prop.animate"
          [delay]="item.delay"
        ></app-card>
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-navbtn
      [text]="actionTitle"
      [color]="'#33322c'"
      [bgColor]="'#fff8dc'"
      [route]="prop.height"
    ></app-navbtn>
  </div>
</div>
