@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;

  /*? Support colors */
  --support-color-1-main: #800000;
  --support-color-1-shade1: #e6cccc;
  --support-color-1-shade2: #cc9999;
  --support-color-1-shade3: #b36666;
  --support-color-1-shade4: #993333;
  --support-color-1-shade5: #660000;
  --support-color-1-shade6: #4d0000;
  --support-color-1-shade7: #330000;
  --support-color-1-shade8: #1a0000;

  --support-color-2-main: #400080;
  --support-color-2-shade1: #d9cce6;
  --support-color-2-shade2: #b399cc;
  --support-color-2-shade3: #8c66b3;
  --support-color-2-shade4: #663399;
  --support-color-2-shade5: #330066;
  --support-color-2-shade6: #26004d;
  --support-color-2-shade7: #1a0033;
  --support-color-2-shade8: #0d001a;

  /*! Fonts */
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-cubano: "Cubano", sans-serif;

  /*^ Sizes and spaces */
  --extra-small: 0.25rem;
  --relative-small: 0.5rem;
  --small: 0.75rem;
  --mid-small: 1rem;
  --mid-mid: 1.25rem;
  --mid-large: 1.5rem;
  --large: 2rem;
  --relative-large: 3rem;
  --extra-large: 4rem;
  --huge: 5rem;
  --extra-huge: 6rem;
}

img {
  max-width: 50px;
  max-height: 50px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1.5fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  user-select: none;
  max-height: 100% !important;
  overflow: hidden;
}

.text {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.text h1 {
  font-size: 3rem;
  font-family: var(--font-cubano);
  color: var(--background-color-shade8);
}

.text .status-map span {
  font-weight: bold;
  font-family: var(--font-montserrat);
  color: var(--background-color-shade1);
}

.deviders {
  font-weight: bold;
  font-family: var(--font-cubano);
  color: var(--background-color-shade8) !important;
  font-size: 1.5rem;
}

.status-map span:nth-child(1) {
  background-color: var(--primary-color-shade3);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.status-map span:nth-child(3) {
  background-color: var(--primary-color-main);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.status-map span:nth-child(5) {
  background-color: var(--primary-color-shade6);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.text .level-map span {
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--background-color-shade1);
}

.level-map span:nth-child(1) {
  background-color: var(--secondary-color-main);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.level-map span:nth-child(3) {
  background-color: var(--secondary-color-shade6);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.level-map span:nth-child(5) {
  background-color: var(--secondary-color-shade8);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

/*? Skills */

.skills {
  z-index: 11;
  grid-area: 2 / 1 / 3 / 2;
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 5rem);
  align-items: center;
  align-content: center;
  justify-items: start;
  padding: 0;
  align-self: center;
  justify-self: center;
  width: calc(100% - (100% / 3) - 5rem);
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;

  border: 3px solid var(--primary-color-shade6);
}

.blur-1 {
  z-index: 13;
  position: absolute;
  -webkit-box-shadow: inset 50px 0px 70px -25px var(--background-color-shade6);
  -moz-box-shadow: inset 50px 0px 70px -25px var(--background-color-shade6);
  box-shadow: inset 50px 0px 70px -25px var(--background-color-shade6);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.blur-2 {
  z-index: 13;
  position: absolute;
  -webkit-box-shadow: inset -50px 0px 70px -25px var(--background-color-shade6);
  -moz-box-shadow: inset -50px 0px 70px -25px var(--background-color-shade6);
  box-shadow: inset -50px 0px 70px -25px var(--background-color-shade6);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.glass {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 13;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: all 2s ease-in-out;
}

.java,
.py,
.cpp,
.csh,
.dart,
.ejs,
.hbs,
.git,
.hub,
.gcp,
.web,
.red,
.gql,
.tf,
.react,
.unity,
.ue {
  z-index: 12;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--mid-mid);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  min-width: 200px;
  height: 250px;

  background-color: var(--secondary-color-shade1);
  border: 3px solid var(--primary-color-shade5);
  border-radius: 10px;

  -webkit-box-shadow: 5px 6px 12px 0px var(--background-color-shade6);
  -moz-box-shadow: 5px 6px 12px 0px var(--background-color-shade6);
  box-shadow: 5px 6px 5px 0px var(--background-color-shade6);

  transition: margin 1s;
}
.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  z-index: 13;
  position: absolute;
  margin-left: 96.5%;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: var(--primary-color-main);
  background-color: var(--primary-color-shade2);
  border: 0;
}

.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  z-index: 13;
  position: absolute;
  margin-left: 0%;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: var(--primary-color-main);
  background-color: var(--primary-color-shade2);
  border: 0;
}

/*! Status-level */

.web img {
  margin-left: 5%;
}

.gql img {
  margin-left: 5%;
}

.status {
  width: 50px;
  height: 5px;
  margin-top: 10%;
  background-color: #001313;
  border-radius: 10px;
}

.level {
  width: 50px;
  height: 5px;
  margin-top: 8%;
  background-color: var(--background-color-shade6);
  border-radius: 10px;
}

.java .status {
  background-color: var(--primary-color-main);
}
.java .level {
  background-color: var(--secondary-color-shade8);
}

.py .status {
  background-color: var(--primary-color-main);
}
.py .level {
  background-color: var(--secondary-color-shade6);
}

.cpp .status {
  background-color: var(--primary-color-main);
}
.cpp .level {
  background-color: var(--secondary-color-main);
}

.csh .status {
  background-color: var(--primary-color-main);
}
.csh .level {
  background-color: var(--secondary-color-main);
}

.dart .status {
  background-color: var(--primary-color-main);
}
.dart .level {
  background-color: var(--secondary-color-main);
}

.ejs .status {
  background-color: var(--primary-color-shade3);
}

.ejs .level {
  background-color: var(--secondary-color-shade8);
}

.hbs .status {
  background-color: var(--primary-color-main);
}

.hbs .level {
  background-color: var(--secondary-color-shade6);
}

.git .status {
  background-color: var(--primary-color-shade3);
}

.git .level {
  background-color: var(--secondary-color-shade8);
}

.hub .status {
  background-color: var(--primary-color-shade3);
}

.hub .level {
  background-color: var(--secondary-color-shade8);
}

.gcp .status {
  background-color: var(--primary-color-shade3);
}

.gcp .level {
  background-color: var(--secondary-color-shade6);
}

.react .status {
  background-color: var(--primary-color-shade6);
}

.react .level {
  background-color: var(--secondary-color-main);
}

.bottom {
  grid-area: 3 / 1 / 4 / 2;
}
