<div class="content">
  <div class="text">
    <h1>These are some adittional technologies that I use</h1>
    <div class="status-map">
      <span>Currently using</span> <span class="deviders"> | </span>
      <span>Haven't used in a while</span><span class="deviders"> | </span>
      <span>Learning</span>
    </div>
    <div class="level-map">
      <span>Basic</span><span class="deviders"> | </span>
      <span>Intermidiate</span><span class="deviders"> | </span>
      <span>Advanced</span>
    </div>
  </div>
  <div class="skills">
    <div class="blur-1" [style.opacity]="scroll > 0 ? 0.8 : 0"></div>
    <div class="blur-2" [style.opacity]="scroll < 1400 ? 0.8 : 0"></div>
    <button class="arrow-left" (click)="slide(1)" (dblclick)="slideToEnd(1)">
      <i class="bx bx-chevron-right"></i>
    </button>
    <button class="arrow-right" (click)="slide(-1)" (dblclick)="slideToEnd(-1)">
      <i class="bx bx-chevron-left"></i>
    </button>
    <div class="java" [style.margin-left]="-scroll + '%'">
      <span>Java v21</span>
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 0 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="java.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="py" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 0 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="python.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="cpp" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 0 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="cpp.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="csh" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 0 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="csh.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="dart" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 400 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="dart.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="ejs" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 400 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="ejs.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="hbs" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 400 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="hbs.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>

    <div class="git" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 400 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="git.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="hub" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 800 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="github.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="gcp" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 800 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="gcp.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>

    <div class="react" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 800 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="react.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="web" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 800 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="webpack.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="red" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 1200 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="redis.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="gql" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 1200 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="graphql.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="tf" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 1200 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="tensorflow.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>

    <div class="ue" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 1200 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="ue4.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="unity" [style.margin-left]="-scroll + '%'">
      <div
        class="glass"
        [style.backdrop-filter]="scroll == 1600 ? 'blur(0px)' : 'blur(5px)'"
      ></div>
      <img src="unity.png" alt="" loading="lazy" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
  </div>
  <div class="bottom"><p>click</p></div>
</div>
