<div class="content">
  <div class="text">
    <h1>These are some adittional technologies that I use</h1>
    <div class="status-map">
      <span>Currently using</span> <span class="deviders"> | </span>
      <span>Haven't used in a while</span><span class="deviders"> | </span>
      <span>Learning</span>
    </div>
    <div class="level-map">
      <span>Basic</span><span class="deviders"> | </span>
      <span>Intermidiate</span><span class="deviders"> | </span>
      <span>Advanced</span>
    </div>
  </div>
  <div class="skills">
    <div class="java">
      <img src="java.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="py">
      <img src="python.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="cpp">
      <img src="cpp.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="csh">
      <img src="csh.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="dart">
      <img src="dart.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="ejs">
      <img src="ejs.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="hbs">
      <img src="hbs.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <!--! Second row-->
    <div class="git">
      <img src="git.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="hub">
      <img src="github.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="gcp">
      <img src="gcp.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <!--? Third row-->
    <div class="react">
      <img src="react.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="web">
      <img src="webpack.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="red">
      <img src="redis.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="gql">
      <img src="graphql.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="tf">
      <img src="tensorflow.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>

    <!--~ Fourth row-->
    <div class="ue">
      <img src="ue4.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
    <div class="unity">
      <img src="unity.png" alt="" />
      <div class="status"></div>
      <div class="level"></div>
    </div>
  </div>
  <div class="bottom"><p>click</p></div>
</div>
