<meta charset="UTF-8" />
<img
  class="img3"
  [src]="!blackOut ? '' : 'Mockups/' + img + '.svg'"
  alt=""
  [ngStyle]="{ opacity: blackOut ? '1' : '0' }"
  loading="lazy"
/>
<div
  class="black"
  [ngStyle]="{ opacity: blackOut ? '0.8' : '0' }"
  [style.pointer-events]="blackOut ? 'auto' : 'none'"
  (click)="blackOut = false"
></div>
<div class="main">
  <div
    class="content"
    id="first"
    #sec1
    [style.opacity]="sec1prop.opacity"
    [style.margin-top]="
      position < sec1prop.height ? -position / 3 + 'px' : '0px'
    "
    style="
      width: 100vw;
      height: 100vh;
      min-width: 100vw;
      min-height: 100vh;
      max-height: 100vh;
      max-width: 100vw;
    "
  >
    <div class="text">
      <h1>Welcome to my portfolio</h1>
      <span>My name is Mohanad Fawzy</span>
      <p>"I work hard so that my cat can have a better life"</p>
    </div>
    <div class="bottom">
      <p>Light mode worning!</p>
      <app-navbtn
        [text]="'I want to know more'"
        [route]="sec1prop.height"
        [bgColor]="'#33322c'"
        [color]="'#fff9e3'"
      ></app-navbtn>
    </div>
  </div>
  <div class="content" id="second" #sec2>
    <app-full-stack
      [prop]="sec2prop"
      [title]="myTitle"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-full-stack>
  </div>
  <div class="content" id="third" #sec3>
    <app-front-end-skills
      [prop]="sec3prop"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-front-end-skills>
  </div>
  <div class="content" id="fourth" #sec4>
    <app-back-end-skills
      [prop]="sec4prop"
      style="
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
      "
    ></app-back-end-skills>
  </div>

  <div class="content" id="fifth" #sec5>
    <app-other-skills
      [prop]="sec5prop"
      style="
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
      "
    ></app-other-skills>
  </div>

  <div class="content" id="sixth" #sec6>
    <app-stack
      [prop]="sec6prop"
      style="
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
      "
    ></app-stack>
  </div>

  <div class="content" id="seventh" #sec7>
    <app-project-st
      (show)="hide($event)"
      (showenImg)="showImg($event)"
      [title]="'Coursato'"
      [type]="'Mobile Application'"
      [desc]="
        '      This was a demo app for courses, It consists of a ui designed with
      flutter and a simple API to regester,
      My labtop melted 3 times when developing this app'
      "
      [prop]="sec7prop"
      [actionTitle]="'Next'"
      [img]="['comu02', 'comu03', 'comu04']"
      [techStack]=" [
      {
        title: 'Flutter',
        img: 'flutter',
        per: 30,
        delay: 0.125,
      },
      {
        title: 'Dart',
        img: 'dart',
        per: 51,
        delay: 0.25,
      },
      {
        title: 'Firebase',
        img: 'firebase',
        per: 30,
        delay: 0.375,
      },
    ]"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-project-st>
  </div>

  <div class="content" id="eighth" #sec8>
    <app-project-st
      (show)="hide($event)"
      (showenImg)="showImg($event)"
      [title]="'Bee Org'"
      [type]="'CRUD Application'"
      [desc]="
        'This demo app was made to facilitate and record the students grades
      monitored by HR department and store each students data.'
      "
      [prop]="sec8prop"
      [actionTitle]="'Awsome'"
      [img]="['ID03', 'mu01', 'mu02']"
      [techStack]="[{
        title: 'Angular',
        img: 'ng',
        per: 76,
        delay: 0.125,
      } , {
        title: 'TypeScript',
        img: 'ts',
        per: 80,
        delay: 0.25,
      } ,
      {
        title: 'Node.js',
        img: 'node',
        per: 80,
        delay: 0.375,
      },
      {
        title: 'Express.js',
        img: 'exp',
        per: 80,
        delay: 0.5,
      },
       {
        title: 'MongoDB',
        img: 'mongo',
        per: 80,
        delay: 0.625,
      }
      ]"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-project-st>
  </div>
  <div class="content" id="nineth" #sec9>
    <app-superman
      [prop]="sec9prop"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-superman>
  </div>
  <div class="content" id="tenth" #sec10>
    <app-rest
      [prop]="sec10prop"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-rest>
  </div>
  <div class="content" id="eleventh" #sec11>
    <app-contact
      [prop]="sec11prop"
      style="
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
      "
    ></app-contact>
  </div>
</div>

<!-- <a
  (click)="setScroll(0)"
  class="arrow-top"
  [style.opacity]="topArrowOpacity"
  [style.pointer-events]="position > 0 ? 'auto' : 'none'"
>
  <i class="bx bx-up-arrow-alt"></i>
</a> -->
