@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;

  /*? Support colors */
  --support-color-1-main: #800000;
  --support-color-1-shade1: #e6cccc;
  --support-color-1-shade2: #cc9999;
  --support-color-1-shade3: #b36666;
  --support-color-1-shade4: #993333;
  --support-color-1-shade5: #660000;
  --support-color-1-shade6: #4d0000;
  --support-color-1-shade7: #330000;
  --support-color-1-shade8: #1a0000;

  --support-color-2-main: #400080;
  --support-color-2-shade1: #d9cce6;
  --support-color-2-shade2: #b399cc;
  --support-color-2-shade3: #8c66b3;
  --support-color-2-shade4: #663399;
  --support-color-2-shade5: #330066;
  --support-color-2-shade6: #26004d;
  --support-color-2-shade7: #1a0033;
  --support-color-2-shade8: #0d001a;

  --support-color-3-main: #408000;
  --support-color-3-shade1: #d9e6cc;
  --support-color-3-shade2: #b3cc99;
  --support-color-3-shade3: #8cb366;
  --support-color-3-shade4: #669933;
  --support-color-3-shade5: #336600;
  --support-color-3-shade6: #264d00;
  --support-color-3-shade7: #1a3300;
  --support-color-3-shade8: #0d1a00;

  /*! Fonts */
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-cubano: "Cubano", sans-serif;

  /*^ Sizes and spaces */
  --extra-small: 0.25rem;
  --relative-small: 0.5rem;
  --small: 0.75rem;
  --mid-small: 1rem;
  --mid-mid: 1.25rem;
  --mid-large: 1.5rem;
  --large: 2rem;
  --relative-large: 3rem;
  --extra-large: 4rem;
  --huge: 5rem;
  --extra-huge: 6rem;
}

.black {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-shade8);
  opacity: 0;
  z-index: 15 !important;
  transition: opacity 0.5s;
  pointer-events: none;
}

.img3 {
  z-index: 19 !important;
  position: fixed;
  max-width: 250px;
  margin-top: 17%;
  margin-left: calc(50% - 125px);
  pointer-events: none;
  transition: opacity 0.5s;
}

.arrow-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: var(--secondary-color-shade2);
  background-color: var(--primary-color-shade7);
  filter: drop-shadow(0px 10px 15px var(--secondary-color-shade2));
  border-radius: 50%;
}

.arrow-top:hover {
  cursor: pointer;
}

.arrow-top:active {
  transform: scale(0.9);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 1100%;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw !important;
}

#first {
  position: fixed;
  max-width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  user-select: none;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  background-image: url("../../../../public/waves\ about\ 6.svg");
  background-size: 25%;
  background-position: left;
  background-repeat: repeat;
  animation: moveBG 20s ease-in-out infinite;
}

#first .text {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}

.text h1 {
  font-family: var(--font-cubano);
  font-size: 7rem;
  color: var(--background-color-shade4);
  transform: translateY(1000%);
  animation: up 0.5s ease-in-out forwards;
}

.text span {
  font-family: var(--font-cubano);
  font-size: 4rem;
  color: var(--background-color-shade4);
  transform: translateY(5000%);
  animation: up 0.5s ease-in-out forwards;
  animation-delay: 0.125s;
}

.text p {
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--background-color-main);
  font-size: 2rem;
  padding-top: 5%;
  font-style: italic;
  transform: translateY(1000%);
  animation: up 0.5s ease-in-out forwards;
  animation-delay: 0.25s;
}

#first .bottom {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 100%;
}

.bottom p {
  font-family: var(--font-montserrat);
  font-weight: bold;
  font-size: 1rem;
  color: var(--background-color-shade4);
  transform: translateY(1000%);
  animation: up 0.5s ease-in-out forwards;
  animation-delay: 0.375s;
}

app-navbtn {
  transform: translateY(1000%);
  animation: up 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

#second {
  z-index: 10;
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  width: 100%;
  background-color: var(--background-color-shade2);
}

#third {
  z-index: 10;
  grid-area: 3 / 1 / 4 / 2;
  height: 100%;
  max-height: 100%;
  background-image: url("/wavesOpacity\ \(1\).svg");
  background-size: 150%;
  background-position: left;
  background-color: var(--background-color-shade4);
  min-width: 100%;
  max-width: 100%;
}

#fourth {
  overflow: hidden;
  z-index: 10;
  grid-area: 4 / 1 / 5 / 2;
  height: 100%;
  width: 100%;
  background-image: url("/waves\ \(5\).svg");
  background-position: right;
  background-size: 250%;
  background-color: var(--background-color-main);
}

#fifth {
  overflow: hidden;
  z-index: 10;
  grid-area: 5 / 1 / 6 / 2;
  height: 100%;
  width: 100%;
  background-image: url("/waves\ \(6\).svg");
  background-position: right;
  background-size: 300%;
  background-color: var(--background-color-shade4);
}

#sixth {
  overflow: hidden;
  z-index: 10;
  grid-area: 6 / 1 / 7 / 2;
  height: 100%;
  width: 100%;
  background-image: url("/waves\ \(7\).svg");
  background-position: right;
  background-size: 300%;
  background-color: var(--background-color-main);
}

#seventh {
  overflow: hidden;
  z-index: 10;
  grid-area: 7 / 1 / 8 / 2;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color-main);
}

#eighth {
  overflow: hidden;
  z-index: 10;
  grid-area: 8 / 1 / 9 / 2;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color-main);
}

#nineth {
  overflow: hidden;
  z-index: 10;
  grid-area: 9 / 1 / 10 / 2;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color-main);
}

#tenth {
  overflow: hidden;
  z-index: 10;
  grid-area: 10 / 1 / 11 / 2;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color-main);
}

#eleventh {
  overflow: hidden;
  z-index: 10;
  grid-area: 11 / 1 / 12 / 2;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color-main);
}

@media screen and (max-width: 426px) {
  #first {
    justify-content: start;
    justify-items: start;
  }
  #first h1 {
    font-size: 1.75rem;
    line-height: normal;
    text-align: center;
    text-wrap: wrap;
    width: 90%;
  }

  #first span {
    font-size: 1.25rem;
  }
  #first p {
    font-size: 1rem;
    text-align: center;
  }
  #first .bottom p {
    font-size: 0.75rem;
    text-align: center;
  }

  #first .bottom {
    margin-top: -25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #first .text h1 {
    font-size: 4rem;
  }

  #first .text span {
    font-size: 3rem;
  }

  #first .text p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1920px) {
  #first .text h1 {
    font-size: 8rem;
  }

  #first .text span {
    font-size: 6rem;
  }

  #first .text p {
    font-size: 4rem;
  }

  #first .bottom p {
    font-size: 2rem;
  }
}

/*! Animations */

@keyframes up {
  0% {
    transform: translateY(5000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBG {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
