:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;
}
