@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;

  /*? Support colors */
  --support-color-1-main: #800000;
  --support-color-1-shade1: #e6cccc;
  --support-color-1-shade2: #cc9999;
  --support-color-1-shade3: #b36666;
  --support-color-1-shade4: #993333;
  --support-color-1-shade5: #660000;
  --support-color-1-shade6: #4d0000;
  --support-color-1-shade7: #330000;
  --support-color-1-shade8: #1a0000;

  --support-color-2-main: #400080;
  --support-color-2-shade1: #d9cce6;
  --support-color-2-shade2: #b399cc;
  --support-color-2-shade3: #8c66b3;
  --support-color-2-shade4: #663399;
  --support-color-2-shade5: #330066;
  --support-color-2-shade6: #26004d;
  --support-color-2-shade7: #1a0033;
  --support-color-2-shade8: #0d001a;

  --support-color-3-main: #408000;
  --support-color-3-shade1: #d9e6cc;
  --support-color-3-shade2: #b3cc99;
  --support-color-3-shade3: #8cb366;
  --support-color-3-shade4: #669933;
  --support-color-3-shade5: #336600;
  --support-color-3-shade6: #264d00;
  --support-color-3-shade7: #1a3300;
  --support-color-3-shade8: #0d1a00;

  /*! Fonts */
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-cubano: "Cubano", sans-serif;

  /*^ Sizes and spaces */
  --extra-small: 0.25rem;
  --relative-small: 0.5rem;
  --small: 0.75rem;
  --mid-small: 1rem;
  --mid-mid: 1.25rem;
  --mid-large: 1.5rem;
  --large: 2rem;
  --relative-large: 3rem;
  --extra-large: 4rem;
  --huge: 5rem;
  --extra-huge: 6rem;
}
img {
  max-width: 60px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block;
}

.angular img {
  max-width: 70px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  user-select: none;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.text {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center !important;
  padding-top: 5%;
  margin: 0 auto;
}

.skills {
  min-width: 100vw !important;
  height: 100%;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bottom {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  padding-bottom: 5%;
}

.text h1 {
  font-family: cubano, sans-serif;
  font-size: 5rem;
  color: var(--background-color-shade8);
  text-align: center !important;
}

.text span {
  display: block;
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--background-color-shade7);
}

.js {
  grid-area: 1 / 1 / 2 / 2;
}

.html {
  grid-area: 2 / 1 / 3 / 2;
}

.css {
  grid-area: 3 / 1 / 4 / 2;
}

.ts {
  grid-area: 1 / 2 / 2 / 3;
}

.angular {
  grid-area: 2 / 2 / 3 / 3;
}

.jquery {
  grid-area: 3 / 2 / 4 / 3;
}

.angular,
.ts,
.js,
.jquery,
.html,
.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: left !important;
}

.js .progress,
.ts .progress,
.angular .progress,
.jquery .progress,
.html .progress,
.css .progress {
  width: 50%;
  height: 10px;
  background-color: var(--text-color-shade1);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 0%;
  z-index: 12;
  -webkit-box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.js .progress::before,
.angular .progress::before,
.ts .progress::before,
.html .progress::before,
.css .progress::before,
.jquery .progress::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-top: -0.17%;
  margin-left: -0.15%;
  position: absolute;
  border-radius: 100%;
  z-index: 15;
}

.js .per,
.ts .per,
.angular .per,
.css .per,
.html .per,
.jquery .per {
  position: relative;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color-shade4);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 12;
}

.angular p,
.css p,
.html p,
.js p,
.ts p,
.jquery p {
  text-align: left !important;
  position: absolute;
  font-style: italic;
  font-family: var(--font-rubik);
  font-weight: bold;
  color: var(--primary-color-shade7);
  opacity: 1;
  margin-top: 0%;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 11;
  margin-top: -1.5%;
  margin-left: 0%;
  font-style: italic;
  font-weight: bold;
  color: var(--background-color-shade8);
  width: fit-content;
  height: fit-content;
  border-bottom-right-radius: 50px;
}

.js .title {
  color: var(--text-color-shade8);
}
.js .per {
  background-color: #f0db4f;
  color: var(--text-color-shade8);
}

.js .progress::before {
  background-color: #f0db4f;
}
.ts .title {
  color: #3178c6;
}
.ts .per {
  background-color: #3178c6;
}

.ts .progress::before {
  background-color: #3178c6;
}

.angular .title {
  color: #c3002f;
}
.angular .per {
  background-color: #c3002f;
}

.angular .progress::before {
  background-color: #c3002f;
}

.jquery .title {
  color: #0868ac;
}
.jquery .per {
  background-color: #0868ac;
}

.jquery .progress::before {
  background-color: #0868ac;
}

.html .title {
  color: #e44d26;
}
.html .per {
  background-color: #e44d26;
}

.html .progress::before {
  background-color: #e44d26;
}

.css .title {
  color: #1572b6;
}
.css .per {
  background-color: #1572b6;
}

.css .progress::before {
  background-color: #1572b6;
}

@media screen and (max-width: 426px) {
  .text h1 {
    font-size: 3rem;
    padding: 0;
  }

  .text span {
    font-size: 1rem;
    line-height: 10px;
    padding: 0;
  }

  img {
    max-width: 40px;
    max-height: 40px;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
  }

  .js {
    grid-area: 1 / 1 / 2 / 2;
  }

  .ts {
    grid-area: 2 / 1 / 3 / 2;
  }

  .html {
    grid-area: 3 / 1 / 4 / 2;
  }

  .css {
    grid-area: 4 / 1 / 5 / 2;
  }

  .angular {
    grid-area: 5 / 1 / 6 / 2;
  }

  .jquery {
    grid-area: 6 / 1 / 7 / 2;
  }

  .js,
  .ts,
  .html,
  .css,
  .angular,
  .jquery {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
    height: fit-content !important;
  }

  .js .progress,
  .ts .progress,
  .angular .progress,
  .jquery .progress,
  .html .progress,
  .css .progress {
    width: calc(100% - 13% - 30px);
    border-radius: 100px;
  }

  .js .progress::before,
  .angular .progress::before,
  .ts .progress::before,
  .html .progress::before,
  .css .progress::before,
  .jquery .progress::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -0.6%;
    margin-left: -0.15%;
    position: absolute;
    border-radius: 100%;
    z-index: 15;
  }

  .progress .title {
    margin-top: -5%;
    font-size: 0.75rem;
    border-radius: 100px;
    text-align: center;
  }

  .progress .per {
    border-radius: 100px;
  }

  .skills p {
    margin-top: 0%;
    font-size: 0.8rem;
    text-wrap: wrap;
    width: 75%;
  }

  .bottom a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 321px) {
  .title {
    margin-top: -6% !important;
  }
}

@media screen and (max-width: 1025px) {
  img {
    max-width: 50px;
    max-height: 50px;
  }

  .js .progress,
  .ts .progress,
  .angular .progress,
  .jquery .progress,
  .html .progress,
  .css .progress {
    width: calc(100% - 13% - 30px);
  }

  .title {
    margin-top: -3%;
  }
  .js .progress::before,
  .angular .progress::before,
  .ts .progress::before,
  .html .progress::before,
  .css .progress::before,
  .jquery .progress::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -0.31%;
    margin-left: -0.25%;
    position: absolute;
    border-radius: 100%;
    z-index: 15;
  }
}
