<div class="content">
  <div class="text">
    <h1>Front-end</h1>
    <span>These are my most used front-end tools</span>
  </div>

  <div class="skills">
    <div class="js">
      <img src="svgs/js.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title">JavaScript</span>
        <div class="per" [style.width]="js + '%'"></div>
        <p>My #1 programming language.</p>
      </div>
    </div>
    <div class="ts">
      <img src="svgs/ts.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title">TypeScript</span>
        <div class="per" [style.width]="ts + '%'"></div>
        <p>Ofcourse I use TypeScript.</p>
      </div>
    </div>

    <div class="angular">
      <img src="svgs/ng.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title">Angular</span>
        <div class="per" [style.width]="ng + '%'"></div>
        <p>This app was made with Angular.</p>
      </div>
    </div>
    <div class="jquery">
      <img src="svgs/jq.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title">jQuery</span>
        <div class="per" [style.width]="jq + '%'"></div>
        <p>Still perfer Angular.</p>
      </div>
    </div>

    <div class="html">
      <img src="svgs/html.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title">HTML 5</span>
        <div class="per" [style.width]="ht + '%'"></div>
        <p>Like, it does not even count.</p>
      </div>
    </div>
    <div class="css">
      <img src="svgs/css.svg" alt="" loading="lazy" />
      <div class="progress">
        <span class="title"> CSS 3 </span>
        <div class="per" [style.width]="cs + '%'"></div>
        <p>99.9% of me hates CSS!</p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <app-navbtn
      [color]="'#33322c'"
      [bgColor]="'#fff9e3'"
      [text]="'What else?'"
      [route]="prop.height"
    ></app-navbtn>
  </div>
</div>
