<div class="content">
  <div class="text">
    <h1>Front-end</h1>
    <span>These are my most used front-end tools</span>
  </div>

  <div class="skills">
    <div class="js">
      <img src="svgs/js.svg" alt="" />
      <div class="progress">
        <span class="title">JavaScript</span>
        <div class="per" [style.width]="js + '%'"></div>
      </div>

      <p>This is my main programming language</p>
    </div>
    <div class="ts">
      <img src="svgs/ts.svg" alt="" />
      <div class="progress">
        <span class="title">TypeScript</span>
        <div class="per" [style.width]="ts + '%'"></div>
      </div>
      <p>Ofcourse I use TypeScript, it is awsome</p>
    </div>

    <div class="angular">
      <img src="svgs/ng.svg" alt="" />
      <div class="progress">
        <span class="title">Angular</span>
        <div class="per" [style.width]="ng + '%'"></div>
      </div>
      <p>This app was made with Angular</p>
    </div>
    <div class="jquery">
      <img src="svgs/jq.svg" alt="" />
      <div class="progress">
        <span class="title">jQuery</span>
        <div class="per" [style.width]="jq + '%'"></div>
      </div>
      <p>Still perfer Angular</p>
    </div>

    <div class="html">
      <img src="svgs/html.svg" alt="" />
      <div class="progress">
        <span class="title">HTML 5</span>
        <div class="per" [style.width]="ht + '%'"></div>
      </div>
      <p>Like, it does not even count</p>
    </div>
    <div class="css">
      <img src="svgs/css.svg" alt="" />
      <div class="progress">
        <span class="title">CSS 3</span>
        <div class="per" [style.width]="cs + '%'"></div>
      </div>
      <p>99.9% of me hates CSS</p>
    </div>
  </div>

  <div class="bottom">
    <a (click)="about.setScroll(about.getsec3prop.height)">What else?</a>
  </div>
</div>
