@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color-main: #008080;
  --primary-color-shade1: #e6f7f7;
  --primary-color-shade2: #b3e0e0;
  --primary-color-shade3: #80c9c9;
  --primary-color-shade4: #4da6a6;
  --primary-color-shade5: #005959;
  --primary-color-shade6: #003d3d;
  --primary-color-shade7: #002626;
  --primary-color-shade8: #001313;
  --secondary-color-main: #ff6b6b;
  --secondary-color-shade1: #fff5f5;
  --secondary-color-shade2: #ffe0e0;
  --secondary-color-shade3: #ffc0c0;
  --secondary-color-shade4: #ff9e9e;
  --secondary-color-shade5: #d45555;
  --secondary-color-shade6: #a63b3b;
  --secondary-color-shade7: #7f2e2e;
  --secondary-color-shade8: #4f1c1c;
  --text-color-main: #36454f;
  --text-color-shade1: #d7dadc;
  --text-color-shade2: #afb5b9;
  --text-color-shade3: #868f95;
  --text-color-shade4: #5e6a72;
  --text-color-shade5: #2b373f;
  --text-color-shade6: #20292f;
  --text-color-shade7: #161c20;
  --text-color-shade8: #0b0e10;
  --background-color-main: #fff8dc;
  --background-color-shade1: #fffef8;
  --background-color-shade2: #fffcf1;
  --background-color-shade3: #fffbea;
  --background-color-shade4: #fff9e3;
  --background-color-shade5: #ccc6b0;
  --background-color-shade6: #999584;
  --background-color-shade7: #666358;
  --background-color-shade8: #33322c;

  /*? Support colors */
  --support-color-1-main: #800000;
  --support-color-1-shade1: #e6cccc;
  --support-color-1-shade2: #cc9999;
  --support-color-1-shade3: #b36666;
  --support-color-1-shade4: #993333;
  --support-color-1-shade5: #660000;
  --support-color-1-shade6: #4d0000;
  --support-color-1-shade7: #330000;
  --support-color-1-shade8: #1a0000;

  --support-color-2-main: #400080;
  --support-color-2-shade1: #d9cce6;
  --support-color-2-shade2: #b399cc;
  --support-color-2-shade3: #8c66b3;
  --support-color-2-shade4: #663399;
  --support-color-2-shade5: #330066;
  --support-color-2-shade6: #26004d;
  --support-color-2-shade7: #1a0033;
  --support-color-2-shade8: #0d001a;

  /*! Fonts */
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-cubano: "Cubano", sans-serif;

  /*^ Sizes and spaces */
  --extra-small: 0.25rem;
  --relative-small: 0.5rem;
  --small: 0.75rem;
  --mid-small: 1rem;
  --mid-mid: 1.25rem;
  --mid-large: 1.5rem;
  --large: 2rem;
  --relative-large: 3rem;
  --extra-large: 4rem;
  --huge: 5rem;
  --extra-huge: 6rem;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

img {
  max-width: 50px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block;
}

.text {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  padding-top: 3%;
}

.text h1 {
  font-family: var(--font-cubano);
  font-size: 5rem;
  color: var(--background-color-shade8);
}

.text span {
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color-shade7);
}

.skills {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
}

.node,
.exp,
.mongo {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  place-content: inherit;
  text-align: center;
  width: 100%;
}

.progress {
  position: relative;
  width: 55%;
  height: 10px;
  background-color: var(--text-color-shade1);
  border-radius: 50px;
  margin-left: 2%;
  text-align: left;
}

.per {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--primary-color-main);
  border-radius: 10px;
}

.title {
  position: absolute;
  margin-top: -10%;
  font-style: italic;
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--primary-color-shade7);
  opacity: 1;
  width: fit-content;
  padding-left: 2%;
  padding-right: 5%;
  padding-bottom: 4.5%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 20px;
}

.node .title,
.node .per {
  background-color: #83cd29;
  color: var(--background-color-shade8);
}

.title span {
  position: absolute;
}
.title .per {
  height: 30px;
}

.exp .title,
.exp .per {
  background-color: #000000;
  color: var(--background-color-shade1);
}

.mongo .title .per,
.mongo .title span,
.mongo .per {
  background-color: #439934;
  color: var(--background-color-shade1);
}

p {
  margin-top: 5%;
  font-style: italic;
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--primary-color-shade7);
  text-align: left;
  opacity: 1;
}

.bottom {
  grid-area: 3 / 1 / 4 / 2;
  text-wrap: nowrap;
}

.bottom a {
  font-size: 1.4rem;
  font-family: var(--font-cubano);
  cursor: pointer;
}

.bottom span {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-cubano);
  color: var(--primary-color-shade6);
}

.bottom a:first-of-type {
  color: var(--primary-color-shade7);
  padding-right: 1%;
}

.bottom a:last-of-type {
  color: var(--secondary-color-shade4);
  padding-left: 1%;
}
