<div [className]="prop.animate ? 'content animate' : 'content'">
  <div class="text">
    <h1>Back-end</h1>

    <span>These are my most used back-end tools</span>
    <p>I use other tools and you will know about them in a minute</p>
  </div>
  <div class="skills">
    <div class="node">
      <img src="svgs/node.svg" alt="" />
      <div class="progress">
        <span class="title">Node.js</span>
        <div class="per" [style.width]="node + '%'"></div>
        <p>My love</p>
      </div>
    </div>

    <div class="exp">
      <img src="svgs/exp.svg" alt="" />
      <div class="progress">
        <span class="title">Express.js</span>
        <div class="per" [style.width]="exp + '%'"></div>
        <p>I build cool APIs with it</p>
      </div>
    </div>

    <div class="mongo">
      <img src="svgs/mongo.svg" alt="" />
      <div class="progress">
        <span class="title">MongoDB</span>
        <div class="per" [style.width]="mongo + '%'"></div>
        <p>Coolest database</p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-navbtn
      [bgColor]="'#fff8dc'"
      [color]="'#33322c'"
      [text]="'Is that it?'"
      [route]="prop.height"
    ></app-navbtn>
  </div>
</div>
