<div class="main">
  <section id="first">
    <div id="scrollDown" [style.opacity]="opacity" #scrollDown>
      <h6>Scroll down</h6>
      <i class="bx bxs-down-arrow-circle"></i>
    </div>
    <div [className]="animate ? 'animate overlay' : 'overlay'" #overlay>
      <h1>Welcome to my Portfolio</h1>
      <span class="name">My name is Mohanad Fawzy</span>
      <span id="typed">
        <span>I am a</span><span>{{ myTitle }}<span>|</span></span>
      </span>
      <div [className]="animate ? 'animate buttons' : 'buttons'">
        <div class="ac">
          <a href="/about" [style.pointerEvents]="pointerEvent1">Take a tour</a>
          <span class="or">or</span>
          <a href="/contact" [style.pointerEvents]="pointerEvent2"
            >Contact me</a
          >
        </div>
        <span class="cv">
          <span>You can also download my CV</span
          ><span
            (click)="download()"
            onkeypress=""
            [style.pointerEvents]="pointerEvent3"
          >
            here</span
          >
        </span>
      </div>
    </div>
  </section>
</div>
