<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<i
  [className]="toggle ? 'close' : 'bx bx-menu'"
  id="btn-mop"
  (click)="!toggle ? clicked() : ''"
></i>

<div [className]="toggle ? 'sidebarActive sidebar' : 'sidebar'">
  <div class="top">
    <div class="logo">
      <span>Mohanad Fawzy</span>
    </div>
    <i
      [className]="toggle ? 'bx bx-x' : 'bx bx-menu'"
      id="btn"
      (click)="clicked()"
    ></i>
    <div class="image">
      <img src="{{ imgsrc }}" alt="" class="my-img" />
      <span>Mohanad Fawzy</span>
      <p class="role">Full Stack Developer</p>
    </div>
  </div>
  <ul>
    <li>
      <a (click)="route('home')">
        <i class="bx bx-home-alt"> </i>
        <span class="nav-item">Home</span>
      </a>
      <span class="toolTip">Home</span>
    </li>
    <li>
      <a (click)="route('about')">
        <i class="bx bxs-user"></i>
        <span class="nav-item">About me</span>
      </a>
      <span class="toolTip">About me</span>
    </li>
    <li>
      <a (click)="route('projects')">
        <i class="bx bxl-git"></i>
        <span class="nav-item">Projects</span>
      </a>
      <span class="toolTip">Projects</span>
    </li>
  </ul>
  <div class="bottom">
    <span>Contact me</span>
  </div>
  <ul class="contact">
    <li>
      <a
        href="https://www.linkedin.com/in/mohanad-fawzy-233367259/"
        target="_blank"
        ><i class="bx bxl-linkedin"></i>
        <span class="nav-item">LinkedIn</span>
      </a>
      <span class="toolTip">LinkedIn</span>
    </li>
    <li>
      <a href="mailto: mohanad.fawzy159@gmail.com" target="_blank"
        ><i class="bx bxl-gmail"></i>
        <span class="nav-item">Gmail</span>
      </a>
      <span class="toolTip">Gmail</span>
    </li>
    <li>
      <a
        href="https://api.whatsapp.com/send?phone=+201146010129&text={{
          message
        }}"
        target="_blank"
        ><i class="bx bxl-whatsapp"></i>
        <span class="nav-item">WhatsApp</span>
      </a>
      <span class="toolTip">WhatsApp</span>
    </li>
  </ul>
</div>
